.img-card {
  box-sizing: border-box;
  margin: 12px;
  width: 300px;
  overflow: hidden;

  .avatar-card {
    margin: 10px 20px;
    // box-shadow: 5px 2px rgb(0 0 0 / 10%);
    text-align: center;
    box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 1px rgb(9 30 66 / 31%);
    padding: 12px !important;
    margin-bottom: 16px;
    // border: 1px solid #4a4e51 !important;
    border-radius: 3px;
    background-color: white;

    .avatar {
      width: 164px;
      height: 164px;
      overflow: hidden !important;
      margin-left: auto;
      margin-right: auto;
      margin-top: 16px;
      color: #242729;

      .avatar-link {
        

        .logo-wrapper {
          border-radius: 3px;
          width: 164px;
          height: 164px;

          img {
            border: 1px solid #4a4e51 !important;
            width: 164px;
            height: 164px;
            border-radius: 50%;
          }
        }
      }
    }

    .title {
      font-weight: 400;
      margin-top: 12px !important;
      margin-bottom: 12px !important;

      .grid {
        color: #0c0d0e;
        font-size: 21px;
        display: flex;
        margin: -4px;
        justify-content: center !important;
        align-items: center !important;

        span {
          color: #6a737c;
          font-size: 11px;
        }
      }
    }
  }
}